{% extends 'base.html' %}

{% block title %}Register - Your Site{% endblock %}


{% block content %}
<style>
/* styles.css */
.registration-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.registration-form {
    display: flex;
    flex-direction: column;
}

h2 {
    border-bottom: 2px solid #000;
    padding-bottom: 10px;
    color: #000;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #000 !important; /* Set the text color to black with !important */
}
.error-message {
    color: red;
    margin-top: 5px;
}

button {
    padding: 12px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #fff;
}




</style>
    <div class="registration-container">
        <h2>Register</h2>
        <form method="post" action="{% url 'register' %}" class="registration-form">
            {% csrf_token %}

            <div class="form-group">
                <label for="{{ form.username.id_for_label }}">Username:</label>
                {{ form.username }}
                {% if form.username.errors %}
                    <div class="error-message">{{ form.username.errors }}</div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="{{ form.email.id_for_label }}">Email:</label>
                {{ form.email }}
                {% if form.email.errors %}
                    <div class="error-message">{{ form.email.errors }}</div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="{{ form.password1.id_for_label }}">Password:</label>
                {{ form.password1 }}
                {% if form.password1.errors %}
                    <div class="error-message">{{ form.password1.errors }}</div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="{{ form.password2.id_for_label }}">Confirm Password:</label>
                {{ form.password2 }}
                {% if form.password2.errors %}
                    <div class="error-message">{{ form.password2.errors }}</div>
                {% endif %}
            </div>

            <button type="submit">Register</button>
        </form>
    </div>
{% endblock %}